
.row {
  width: 1140px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  &:not(:last-child){
    margin-bottom: $gap-row;
  }
  [class ^="col-"]{
    &:not(:last-child){
        margin-right: $gap-col;
      }
  }
}

.col-1-of-2 {
  width: calc((100% - #{$gap-col}) / 2);
}

.col-1-of-3 {
  width: calc((100% - #{2 * $gap-col}) / 3);
}

.col-1-of-4 {
  width: calc((100% - #{3 * $gap-col}) / 4);
}

.col-2-of-3 {
  width: calc(100% - ((100% - #{2 * $gap-col}) / 3) - #{$gap-col})
}

.col-2-of-4 {
  width: calc(100% -  2 * ((100% - #{3 * $gap-col}) / 4) - #{2 * $gap-col})
}

.col-3-of-4 {
  width: calc(100% -  ((100% - #{3 * $gap-col}) / 4) - #{$gap-col})
}